:root {
  --color-light: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
	font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media  and (min-width: 768px) {
    .container {
    width: 768px;
}
}

@media  and (min-width: 1158px) {
    .container {
    width: 1158px;
    padding: 0 15px;
}
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media  and (min-width: 768px) {
    .burger-btn {
    display: none;
}

.navigation-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.contacts {
    font-style: normal;
    
}

.contacts-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
}
