:root {
  --color-light: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
	font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
    width: 768px;
}
}

@media screen and (min-width: 1158px) {
    .container {
    width: 1158px;
    padding: 0 15px;
}
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
    display: none;
}
.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.navigation-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navigation-link {
    display: inline-block;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.navigation-link.current {
    color: #404bbf;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    display: block; 
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-link {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
 
    .header-logo {
    margin-right: 76px;
}

.contacts-list {
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
}

.contacts-link {
    padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
fill: #2e2f42;
background-color: fff;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 24px;
height: 24px;
padding: 0;
cursor: pointer;
margin-bottom: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 40px;
    margin-bottom: auto;
}

.mobile-navigation-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation-link:hover,
.mobile-navigation-link:focus {
    color: #404bbf;
}

.mobile-contacts {
    font-style: normal;
    display: block; 
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-icon-list {
 display: flex;
    gap: 40px;
}

.social-icon {
    fill: var(--color-light);
}

.social-icon-box {
    width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  border-radius: 50%;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-item:hover .social-icon-box,
.social-icon-item:focus-within .social-icon-box {
    background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.hero-baner {
    background-color: #2e2f42;
    padding: 72px 0;
    margin: 0 auto;
    max-width: 320px;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero_mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-resolution:192dpi) {
    .hero-baner {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero_mobile@2.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero-baner {
    background-color: #2e2f42;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 768px;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero_tab.jpg");
    }
}

@media screen and (min-width: 768px) and (min-resolution:192dpi) {
    .hero-baner {
        background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero_tab@2.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .hero-baner {
        max-width: 1158px;
        background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero_desc.jpg");
    }
}

@media screen and (min-width: 1158px) and (min-resolution:192dpi) {
    .hero-baner {
        background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero_desc@2.jpg");
    }
}

.hero-baner-title {
    font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 1.1;
letter-spacing: 0.02em;
color: #fff;

margin-left: auto;
margin-right: auto; 
max-width: 216px;
margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
.hero-baner-title{
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-baner-title{
        margin-bottom: 48px;
    }
}

.hero-button {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
    background-color: #4d5ae5;
cursor: pointer;
border-radius: 4px;
display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}



.advantages {
padding: 96px 0;
margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
    padding: 0;
}

.advantages-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
text-align: center;
}

.advantages-text {
        font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {
    .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.advantages-item {
    width: calc((100% - 24px) / 2);
}

.advantages-title {
    text-align: start;
}
}

@media screen and (min-width: 1158px) {
    .advantages {
        padding: 120px 0;
    }

    .advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-title {
    font-weight: 500;
font-size: 20px;
}

.advantages-text {
    font-weight: 400;
}
}

.icon-box {
    display: none;
}

@media screen and (min-width: 1158px) {
    .icon-box {
    display: flex;
    width: 264px;
height: 112px;
border: 1px solid #8e8f99;
border-radius: 4px;
background-color: #f4f4fd;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}
}

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.team-list {
    display: flex;
  flex-direction: column;         
  gap: 72px;                 
  justify-content: center;
  margin: 0 auto;
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
              0 1px 1px rgba(46, 47, 66, 0.16),
              0 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  margin: 0 auto;
}

.name-container {
    padding: 32px 0;
}

.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center; 
  gap: 24px;
  
}
.team-icon-box {
width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
    fill: var(--color-light);
}

.team-icon-item:hover .team-icon-box,
.team-icon-item:focus-within .team-icon-box {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .team-list {
  flex-direction: row;  
  flex-wrap: wrap;       
  gap: 64px 24px;                
  
}

.team-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
}
}

@media screen and (min-width: 1158px) {
    .team-list {
  flex-wrap: wrap;           
  gap: 24px;                 
  margin: 0;
  padding: 0;
}

.team-item {
    width: calc((100% - 72px) / 4);
}
}

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px; 
    padding: 0;
    align-items: center;
    justify-content: center;  
}

.image-box {
     position: relative;
    overflow: hidden;
}

.portfolio-image {
width: 288px;
    height: 280px;
}

.overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
    max-width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:hover {
cursor: pointer;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.services {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.services-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.services-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;  
}

.portfolio-item {
     width: calc((100% - 24px) / 2);
}

.portfolio-image {
width: 356px;
    height: 300px;
}
}

@media screen and (min-width: 1158px) {

    .portfolio {
        padding: 120px 0;
    }

    .portfolio-item {
     width: calc((100% - 48px) / 3);
}
}

.footer-page {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.footer-content {
    text-align: center;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin: 0 auto;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 288px;
margin-top: 16px;
text-align: start;
}

.footer-social-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-top: 72px;
margin-bottom: 16px;
text-align: center;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.bottom-input-label {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;
}

.bottom-subscribe-input {
    border: 1px solid #fff;
    opacity: 0.3;
border-radius: 4px;
width: 288px;
height: 40px;
padding: 8px 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background-color: transparent;
color: #fff;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
margin-bottom: 16px;
}

.bottom-subscribe-input:focus {
    border-color: #4d5ae5;
    outline: none;
}

.bottom-subscribe-input::placeholder {
    color: #fff;
}

.bottom-subscribe-button {
    border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}

.bottom-subscribe-button:hover {
     background-color:#404bbf;
}

.send-icon {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
.footer-container {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 108px;
}

  .content-social-container {
    display: flex;
    gap: 24px;
  }

  .footer-content {
    text-align: start;
}

.footer-text {
    max-width: 264px;
}

.footer-social-title {
    margin-top: 0;
    text-align: start;
}

.bottom-input-label {
text-align: start;
}

.bottom-subscribe {
    display: flex;
    gap: 24px;
}

.bottom-subscribe-input {
    width: 264px;
}
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    gap: 0;
  }

  .footer-subscribe-container {
    margin-left: 80px;
  }

  .content-social-container {
    gap: 120px;
  }
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  min-width: 288px;
  max-height: 90hv;
  background: #fcfcfc;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

.reset-button {
    position: absolute;
    top: 24px;
    right: 24px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
fill: #2e2f42;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 24px;
height: 24px;
padding: 0;
cursor: pointer;
margin-bottom: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reset-button:hover,
.reset-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.reset-button-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reset-button:hover .reset-button-icon,
.reset-button:focus .reset-button-icon {
    fill: #fff;
}

.form-group {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
margin-bottom: 8px;
}

.form-group-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.form-label {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
display: block;
  flex-direction: column;
}

.input-wrapper {
    width: 100%;
    position: relative;
    
}

.input-wrapper .form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-field {
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
outline: transparent;
width: 100%;
height: 40px;
padding: 8px 16px 8px 38px;
margin-bottom: 8px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
    border-color: #4d5ae5;
    outline: none;
}

.input-field:focus + .form-icon {
    fill: #4d5ae5;
}

.textarea-wrapper {
    margin-bottom: 16px;
}

.comment-area {
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
outline: transparent;
padding: 8px 16px;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
    border-color: #4d5ae5;
    outline: none;
}

textarea::placeholder {
    font-weight: 400;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.form-check-label {
   
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .form-check-label > .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.form-policy-link {
    color: #4d5ae5;
  text-decoration: underline;
}

.send-button {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
border: none;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: block;
margin: 0 auto;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
    background-color:#404bbf;
}

@media screen and (min-width: 768px) {

}